@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
}

.box-container {
    width: 1000px;
    /* size of the border, style, color */
    border: 5px solid black;
}

.box {
    height: 200px;
    width: 200px;
    background-color: cadetblue;
    /* margin-bottom: 40px; */
    padding: 40px;
}

.inline {
    display: inline-block;
}

.centered {
    margin: 0 auto;
}

.va-top {
    vertical-align: top;
}