* {
    margin: 0;
    padding: 0;
}

.box {
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 5px;
    border: 5px solid orange;
    display: inline-block;
    margin: 50px;
}

/* 

Flex gives us access to a few other CSS Rules:

align-items - vertical alignment
justify-content - horizontal alignment

*/
.navbar {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;

    justify-content: space-between;

    padding-bottom: 50px;
    padding-top: 50px;
}

h1 {
    background-color: #e7c6ff;
}

.flexed {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    font-size: 1.2em;
    margin-left: 30px;
    background-color: aquamarine;
}